import init.p1-common.rc
import init.p1c.usb.rc

on init
    export EXTERNAL_STORAGE /storage/sdcard0
    mkdir /storage/sdcard0 0000 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on boot

    setprop ro.build.product p1c
    setprop ro.product.device p1c

on fs
    mount_all /fstab.p1c

service pppd_cdma /system/bin/pppd_runner
   class main
   user root
   group radio cache inet misc system
   disabled
   oneshot

service gps-daemon /system/vendor/bin/gpsd
    class main
    user system
    group system inet

on property:ril.cdma.data_state=1
    restart pppd_cdma

on property:ril.cdma.data_state=0
    stop pppd_cdma

on property:gsm.sim.state=NOT_READY
    # this is a CDMA device with no SIM card, and this property must be set
    # to READY for the data usage tracker to work properly
    setprop gsm.sim.state READY

