import init.p1-common.rc
import usb.rc

on boot

    setprop ro.build.product p1c
    setprop ro.product.device p1c

service pppd_cdma /system/bin/pppd_runner
   class main
   user root
   group radio cache inet misc system
   disabled
   oneshot

service gps-daemon /system/vendor/bin/gpsd
    class late_start
    user system
    group system inet

on property:ril.cdma.data_state=1
    restart pppd_cdma

on property:ril.cdma.data_state=0
    stop pppd_cdma

