on early-init
    start ueventd

on init

# GyuTae FIX : we should not use system partition!!!!!
#	export PATH /sbin:/bin

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs


on fs
	mount tmpfs tmpfs /tmp
	mount yaffs2 mtd@system /system

on boot

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
	console

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

service playlpm /system/bin/playlpm
    user root
    oneshot  

service lpmkey /system/bin/charging_mode
    user root
    oneshot

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

